connections {
   gateway {
      local_addrs = {{ inventory_hostname }}
      pools = ip_pool

      local {
         auth = pubkey
         certs = server_cert.der
         id = {{ inventory_hostname }}
      }
      remote {
         auth = pubkey
      }
      children {
         net {
            local_ts  = 0.0.0.0/0
	    updown = /usr/lib/ipsec/_updown iptables
            esp_proposals = aes256-sha384-modp2048,aes256-sha256-modp2048
         }
      }
      version = 2
      proposals = aes256-sha384-modp2048,aes256-sha256-modp2048
   }
}

pools {
   ip_pool {
      addrs = {{ vpn_subnet }}
      dns = 1.0.0.1
   }
}
